*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Slide-Image{
    width: 100%;

}


/* View-All Button */
#ViewAll-Button{
    display: block;
    color: white;
    background-color: black;
    padding: 10px 90px;
    font-size: 25px;
    margin:auto;
}
