body{
    background-color: black;
}


.SBC-Main-Container{
    color: white;
}


.Info-Section{
    display: flex;
    margin-top: 70px;
    align-items: center;
    justify-content: space-between;
}

#over-img{
    position: absolute;
    left: 74vw;
    display: none;  
    transition: all;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

.Info-Section img{
    width: 40%;
    margin-right: 5px;
    height: 300px;
    transition: all;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

.Info-Section img:hover{
    filter: blur(1.6px);
    transform: scale(1.01);
}

.Info-Section img:hover + #over-img{
    display: block;
}

.Left-Side-Sec{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 8vw;
}

.Left-Side-Sec p{
    line-height: 4vh;
    font-size: larger;
}

.Left-Side-Sec button{
    width: 150px;
    height: 40px;
    border: 3px solid gray;
    font-size: 14px;
    transition: transform;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
}

.Left-Side-Sec button:hover{
    transform: scale(1.02);
}



.Right-Side-Sec button{
    width: 150px;
    height: 40px;
    border: 3px solid gray;
    font-size: 14px;
    transition: transform;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
}

.Right-Side-Sec button:hover{
    transform: scale(1.02);
}

.Right-Side-Sec{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 8vw;
}

.Right-Side-Sec p{
    line-height: 4vh;
    font-size: larger;
}


#over-img2{
    position: absolute;
    right: 76vw;
    display: none;
    transition: all;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

.Info-Section img:hover + #over-img2{
    display: block;
}


