/* Main Container CSS */
.page-container{
  display: flex;
  /* flex-direction: row-reverse; */
  background-color: #f4e7d7;
}
/* Main Heading of Collection Section */
#height1{
    text-align: center;
    padding: 65px;
    padding-top: 40px;
    font-family: Dream-Avenue;
    font-size: 60px;
    font-weight: bold;
    color: #803D3B;
    margin: 0;
    background-color: #f4e7d7;
  }
  .sidebar-toggle{
    display: none;
    height: 10%;
    padding: 0.3rem;
    border: none;
    width: 5rem;
    font-weight: bolder;
    font-size: 2rem;
  }
/* Left Side Filter Section CSS */
.sidebar{
  width: 300px;
  /* height: 800px; */
  padding: 50px;
  border-right: 1px solid #ddd;
  /* align-items: flex-end; */
  background-color: white;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2); 
}
/* FILTER Section CSS */
.sidebar h3 {
  font-size: 20px;
  margin-bottom: 40px;
  letter-spacing: 1.5cap;
}
/* Filter List */
.filter-list{
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  /* position: relative; */
}
.filter-list>li{
  margin-bottom: 20px;
  /* position: relative; */
  font-weight: 600;
}
.filter-list>li>a{
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
}
.menu1{
  list-style: none;
}
/* Radio Button List and Aroma, Candles, Fragnances List CSS */
.menu1>li{
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 500;
}
/* Drop-Down Menu List in Fragnances CSS */
.menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 60%;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #ddd;
  z-index: 1000;
}

.menu >li>button {
  width: 100%;
  border: none;
  color: #333;
  display: block;
  padding: 10px;
}

.dropdown:hover .menu {
  display: block;
}


/* Candles Information CSS Section */
.main-content {
  flex-grow: 1;
  padding: 20px;
}
/* All Candles Container */
  .image-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1%;
    margin-right: 1%;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    gap: 20px;
    padding: 0 1%;
  }
/* Image Container */
  .image-wrapper {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 4px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2); 
    background-color: #fff;
    position: relative;
  }
  
  .image-inner-wrapper {
    position: relative;
  }
/* Image CSS */  
  .product-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    transition: opacity 0.35s, transform 0.35s;
    transform: scale3d(0.88, 0.88, 0.88);
  }
/* hover Animation On Image */
  .image-inner-wrapper:hover .product-image {
    opacity: 0.6;
    transform: scale3d(0.95, 0.95, 0.95);
  }
  .product-title{
    font-size: 1.2rem;
    margin: 10px 0;
  }
  .product-desc{
    font-size: 0.9rem;
    color: #666;
  }
  .product-price{
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin: auto;
  }

/* Media Querry For Responsiveness (NotWorking Currently) */  
  @media (max-width: 768px) {
    .image-container{
      grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
      margin: 0;
      gap: 5px;
    }
    .sidebar{
      width: 100%;
      position: relative;
      padding: 10px;
      display: none;
    }
    .sidebar.show{
display: block;
    }
    .menu, .menu1{
      padding: 0%;
      list-style: none;
    }
    .menu li, .menu1 li {
      margin-bottom: 10px;
    }
    .dropdown {
      display: block;
      position: relative;
    }
  
    .dropdown .menu {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #f4f4f4;
      display: none;
    }
  
    .dropdown:hover .menu {
      display: block;
    }
    .sidebar-toggle{
      height: 10%;
      padding: 0.3rem;
      border: none;
      width: 5rem;
      font-weight: bolder;
      font-size: 2rem;
      display: block;
      margin: none;
    }
  }

  
  @media (max-width: 576px) {
    .sidebar{
      width: 100%;
      position: relative;
      padding: 10px;
      display: none;
    }
    .sidebar.show{
display: block;
}
.sidebar-toggle{
  height: 5rem;
  padding: 0.3rem;
  border: none;
  width: 5rem;
  font-weight: bolder;
  display: block;
}

    .image-container{
      grid-template-columns: 1fr;
    }
    .image-wrapper{
      padding: 2px;
      margin: 5px;
    }
    .product-image{
      height: 150px;
    }
  }