* {
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: Dream_Avenue;
    src: url(FontsFree-Net-Dream-Avenue.ttf);
}
@font-face {
    font-family: League_Spartan;
    src: url(LeagueSpartan-VariableFont_wght.ttf);
}

.Header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('background.png');
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.3);
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.NavBar{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid white;
}

#user{
    height: 40px;
    margin: 10px;
}

#search{
    height: 65px;
}

#cart{
    height: 45px;
    margin: 10px;
}

.NavBar ul{
    list-style: none;
    flex: 1;
    text-align: left;
}

.NavBar ul li{
    display: inline-block;
    margin: 20px 20px;
    font-size: 22px;
    color: white;
    transition: all;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

.NavBar ul li:hover{
    transform: scale(1.15);
}

.content h1 {
    font-size: 100px;
    font-weight: lighter;
    color: white;
    font-family: Dream_Avenue;
    letter-spacing: 7px;
}

.content p {
    font-size: 30px;
    margin: 15px 0;
    letter-spacing: 2px;
    color: white;
    font-family: League_Spartan;
}

.content a {
    color: inherit;
    text-decoration: none;
    background-color: white;
    padding: 15px 30px;
    font-size: 22px;
    border-radius: 100px;
    transition: all;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}
.content a:hover{
    transform: scale(1.12) ;
    
}