.Cart {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin: 50px 50px;
    background-color: #f4e7d7;
}

.cart-container {
    text-align: center;
    background: white;
    height: 500px;
    width: 80%;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cart-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.empty-cart-image {
    max-width: 150px;
    margin-bottom: 20px;
}

.cart-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.shop-link {
    width: 200px;
    height: 48px;
    margin: auto;
    background-color: #3D2727;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    outline: none;
    border: 0;
    text-decoration: none;
    transition: all;
    transition-duration: .15s;
    transition-timing-function: linear;
}

.shop-link:hover {
    width: 230px;
    height: 48px;
    background-color: #4F3333;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
    color: white;
    border: .5px solid black;
}

.cart-container2 {
    text-align: center;
    background: white;
    width: 90%;
    height: 100%;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#prod-cart-heading{
    align-self: flex-start;
    /* margin: 0 0 20px 60px; */
}

.cart-headings{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: small;
    border-bottom: .5px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.48);
}

.cart-product-heading{
    display: flex;
    width: 49%;
    align-self: flex-start;
}
.cart-Quantity-heading{
    display: flex;
    width: 25%;
    margin-right: 10px;
    justify-content: flex-start;
}
.cart-Total-heading{
    display: flex;
    width: 25%;
    justify-content: flex-end;
}

.Product{
    display: flex;
    margin: 20px 20px 0 20px;
    padding: 0%;
    width: 100%;
    height: 150px;
    align-items: flex-start;
    /* border-top: .5px solid rgba(0, 0, 0, 0.1);*/
   /*  border-bottom: .5px solid rgba(0, 0, 0, 0.2);  */
    /* justify-content: space-between; */
  } 

  #Products-Pic{
    /* width: 100%; */
    margin-top: 3px;
    height: 80%;
    max-width: 80%;
  }

  .product-details{
    display: flex;
    width: 39%;
    margin-top: 3px;
    margin-left: 15px;
    flex-direction: column;
    align-items: flex-start;
  }


.ProductInfo{
    width: 25%;
    display: flex;
    margin-top: 3px;
    align-items: center;
    /* justify-content: space-between; */
    font-size: 25px;
    text-align: left;
}

.counter{
    width: 150px;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center; 
    /* gap: 10px; */
    /* margin-top: 20px; */
}


.product-price{
    width: 25%;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
}

.product-price p{
    font-size: 20px;
    margin: 0;
    font-weight: 500;
    align-self: flex-end;
}

.cart-total{
    width: 100%;
    padding-top: 10px;
    display: flex;
    border-top: .5px solid rgba(0, 0, 0, 0.3);
    flex-direction: column;
    align-items: end;
}

.cart-total pre{
    font-size: 25px;
}

#checkout-button{
    width: 300px;
    height: 48px;
    background-color: #3D2727;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    outline: none;
    border: 0;
    text-decoration: none;
    transition: all;
    transition-duration: .15s;
    transition-timing-function: linear;
}

#checkout-button:hover{
    width: 320px;
    height: 48px;
    background-color: #4F3333;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
    color: white;
    border: .5px solid black;
}

@media (max-width: 768px) {
    .Product {
        flex-direction: column;
    }
    .ProductInfo{
        height: 150px;
        margin-top: 30px;
    }
    #Products-Pic{
        width: 100%;
        height: auto;
        max-width: 150px;
     }
    
    .product-price{
        height: 150px;
    }
}