* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

#root{
    background-color: #f4e7d7;
}


/* Slider-Section */
.Slide-Image {
    width: 100%;
}

/* Inventory-Section */
/* View-All Button */
#ViewAll-Button {
    width: 250px;
    height: 48px;
    margin: auto;
    background-color: #3D2727;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Dongle;
    font-size: 32px;
    outline: none;
    border: 0;
    transition: all;
    transition-duration: .15s;
    transition-timing-function: linear;
}

#ViewAllBtnLink{
    text-decoration: none;
}

/* Inventory View Button Hover */
#ViewAll-Button:hover {
    width: 280px;
    height: 48px;
    background-color: #4F3333;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
    color: white;
    border: .5px solid black;
}


/* Inventory Heading */
.Inventory-Heading {
    margin-top: 70px;
    margin-bottom: -40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Inventory-Heading h1{
    font-family: Dream-Avenue;
    font-size: 60px;
    font-weight: bold;
    color: #803D3B;
}

.Inve-Heading-Link {
    color: black;
    text-decoration: none;
}

.textbackg{
    background-color: #f4e7d7;
}

.CardImg{ 
    height: 580px;
}

.CardBoxShadow{
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
}

/* OurStory-Section */
/* Our-Story-Main-Div */
.Our-Story-main-Container {
    margin-top: 80px;
}

.Our-Story-main-Container h2{
    font-family: Dream-Avenue;
    font-size: 60px;
    font-weight: bold;
    color: #803D3B;
}

/* OurStory-Content-Div */
.OurStory-Para {
    width: 80%;
    display: flex;
    align-items: center;
    text-wrap: wrap;
    margin: 0;
}

/* OurStory Paragraph */
#OurStory-Para {
    font-family: Dongle;
    font-size: 40px;
    text-align: left;
    padding: 10px;
    padding-top: 75px;
}

/* OurStory-img */
#Ourstory-Img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

#OurStory-Button{
    width: 290px;
    height: 48px;
    margin-left: 1px;
    background-color: #3D2727;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 32px;
    outline: none;
    border: 0;
    transition: all;
    transition-duration: .15s;
    transition-timing-function: linear;
}

#OurStoryBtnLink{
    text-decoration: none;
}

#OurStory-Button:hover {
    width: 310px;
    height: 48px;
    background-color: #4F3333;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
    color: white;
    border: .5px solid black;
}

/* Media Querry For Our-Story Section */
@media only screen and (max-width: 1087px) {
    .Our-Story-main-Container {
        flex-direction: column;
    }

    .Our-Story-main-Container img {
        align-self: center;
    }
}


/* Social Section */


/* Social-section-Heading */
.Social-Heading {
    width: 100%;
    margin-bottom: -30px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Social-Heading h1{
    font-family: Dream-Avenue;
    font-size: 60px;
    font-weight: bold;
    color: #803D3B;
}

/* Social-Main-Div */
.Socials-Main-Container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*  border: 2px solid red; */
    margin-bottom: 50px;
}

.Socials-Main-Container img {
    max-width: 450px;
    height: auto;
}

.Socials-Main-Container img:hover {
    /* border: 10px solid gray; */
    transform: scale(1.03);
}

@media only screen and (max-width: 1087px) {
    .Socials-Main-Container {
        flex-direction: column;
    }

    .Our-Story-main-Container img {
        align-self: center;
    }
}