/* Global Changes */
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* Nav-Bar-Main-Box */
.Nav-Main-Container{
    height: 85px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    /* border: 2px solid red */
}


/* Nav-Bar-Logo */
.Nav-Bar-Logo{
    height: 100%;
    /* width: 10%; */
    margin: 0; 
    /* position: relative;
    left: 40px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Nav-Bar-List */
.Nav-List{
    height: 100%;
     width: 800px; 
    /* margin-right: 400px; */
    /* position: relative;
    right: 300px; */
    display: flex;
    align-items: center;    
    justify-content: space-between; 
}

.Nav-List ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 0%;
    margin: 0%;

}

.Nav-List-Link{
    text-decoration: none;
    color: white;
    font-size: 22px;
    display: inline-block;
    position: relative;
    padding-bottom: .25px;
}

/* UnderLine Animation */
.Nav-List-Link::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width .4s ease-out;
    transform: translateX(-50%);
}

.Nav-List-Link:hover::before{
    width: 100%;
}


/* Nav-Bar-Icons */
.Nav-Icons{
    height: 100%;
    /* width: 10%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}


/* Footer body */
.Footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.footer-section{
    flex: 1;
    padding: 10px;
}

.footer-section h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 16px;
    margin: 5px 0;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

/* footer news leter section */
.newsletter-section form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter-section input {
    width: 250px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    color: #fff;
    margin-right: 10px;
}

.newsletter-section input:focus{
    border-bottom: 1px solid #fff;
    outline: none;
}

.newsletter-section button {
    padding: 10px;
    border: none;
    background: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

/* Back to top */
.back-to-top-section {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    text-align: center;
}

.back-to-top-section a {
    color: #fff;
    width: 100%;
    text-decoration: none;
    background-color: #1C2326;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.back-to-top-section a:hover {
    background-color: #32383B;
}