/* Global Changes */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

@font-face {
    font-family: Dream-Avenue;
    src: url(./Fonts/FontsFree-Net-Dream-Avenue.ttf);
}

@font-face {
    font-family: Dongle;
    src: url(./Fonts/Dongle-Regular.ttf);
}

/* Nav-Bar-Main-Box */
.Nav-Main-Container {
    height: 85px;
    width: 100%;
    background-color: #291B1B;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Nav-Bar-Logo */
#Main-Logo {
    width: 90px;
    border: none;
    margin-left: 10px;
}

/* Nav-Bar-List */
.Nav-List {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Nav-List ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-family: Dongle;
    font-size: 38px;
    line-height: 1;
    padding: 0;
    margin: 0;
}

.Nav-List-Link {
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    padding-bottom: .25px;
}

/* Underline Animation */
.Nav-List-Link::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width .4s ease-out;
    transform: translateX(-50%);
}

.Nav-List-Link:hover::before {
    width: 100%;
}


/* User Data CSS */
#After-Login{
    text-decoration: none;
    color: white;
    padding-right: 20px;
}



/* Google login profile picture CSS */
#Google-Profile-Pic{
    border-radius: 50%;
    height: 45px;
}


/* Nav-Bar-Icons */
.Nav-Icons {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;    
    margin-right: 20px;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: 20px;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
    transition: 0.4s;
}

@media (max-width: 1016px) {
    .Nav-List {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 85px;
        height: calc(100% - 85px);
        left: 0;
        width: 40%;
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .Nav-List ul {
        background-color: #291B1B;
        flex-direction: column;
        display: block;
        width: 100%;
        height: 100%;
    }

    .Nav-List ul li {
        margin: 10px 0;
        width: 100%;
        padding-left: 20px;
    }

    .Nav-List-Link {
        padding: 10px 0;
    }

    .hamburger {
        display: flex;
    }

    .Nav-Main-Container.active .Nav-List {
        transform: translateX(0);
        /* Slide in from the left */
        opacity: 1;
    }

    .Nav-Main-Container.active .hamburger div:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .Nav-Main-Container.active .hamburger div:nth-child(2) {
        opacity: 0;
    }

    .Nav-Main-Container.active .hamburger div:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}


/* Footer body */
.Footer {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    padding-bottom: 10px;
    background-color: #291B1B;
    color: #fff;
    text-align: center;
}

.footer-section {
    flex: 1;
    padding: 10px;
}

/* Text Logo Styling */
.Text-Logo-Footer{
    display: flex;
    background-color: #291B1B;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.Text-Logo-Footer img{ 
    width: 400px;
    margin-top: 15px;
}

.footer-section h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 16px;
    margin: 5px 0;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

/* footer news leter section */
.newsletter-section form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter-section input {
    width: 250px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    color: #fff;
    margin-right: 10px;
}

.newsletter-section input:focus {
    border-bottom: 1px solid #fff;
    outline: none;
}

.newsletter-section button {
    padding: 10px;
    border: none;
    background: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.media-1 {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.media-2 {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

@media screen and (max-width: 833px) {
    .Footer {
        flex-direction: column;
        align-items: start;
        text-align: left;
    }

    .media-1 {
        width: 100%;
    }

    .media-2 {
        width: 100%;
    }
    .newsletter-section form {
        display: block;
    }
}

@media screen and (max-width:668px) {
    /* .Footer{
        flex-direction: column;
        align-items: start;
        text-align: left;
    } */

    .media-1 {
        flex-direction: column;
    }

    .media-2 {
        flex-direction: column;
    }

    .newsletter-section form {
        display: block;
    }
}

/* Back to top */
.back-to-top-section {
    display: flex;
    justify-content: center;
    text-align: center;
}

.back-to-top-section a {
    color: #fff;
    width: 100%;
    text-decoration: none;
    background-color: #3D2727;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.back-to-top-section a:hover {
    background-color: #4F3333;
}

#Copyright{
    background-color: #291B1B;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 12px;
    padding-bottom: 10px;
}