.whole{
    background-color:rgba(231, 232, 230, 0.917);
}

.container{
    padding-right: 10%;
    padding-left: 10%;
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
    align-content: center;
    border: 1px black;
}
.story {
    padding: 50px;
    text-align: center;
    padding: 35px 180px 6px;
    position: relative;
}
.story h1{
    font-family: "Agbalumo";
    font-size: 70px;
}
.story p{
    box-sizing: content-box;
}
.first img{
    width:390px;
    height: 500px;
    float: right;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2%;
    margin-top: 5%;
    border-radius: 5%;
    border: 2cap;
    box-shadow: 5px 6px 11px black;

}
.para1{
    /* align-content:space-between; */
    width: 70%;
text-align: center;
margin: 51px;
margin-left: 12%;
margin-top: 10%;
padding-left: 6%;
padding-right: 8%;
padding-top: 5%;
padding-bottom: 5%;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: larger;
box-shadow: 2px 4px 11px black;
background-color: #ffffff;
}
.second{
    width:390px;
    height: 500px;
    float: left;
    margin-right: 5%;
    margin-left: 10%;
    margin-bottom: 2%;
    border-radius: 5%;
    margin-top: 10%;
    border: 2cap black;
    box-shadow: 3px 1px 12px black;
}
.para2{
    width: 75%;
    font-family:Arbutus Slab;
font-size: larger;
text-align: center;
margin: 51px;
margin-left: 12%;
margin-top: 19%;
padding: 4%;
padding-right: 8%;
padding-left: 8%;
padding-top: 5%; 
 padding-bottom: 5%;
box-shadow: 2px 2px 6px black;
background-color: #ffffff;
}